.prose {
  margin: 0 auto;
  max-width: 680px;
  font-size: 1rem;
  line-height: 1.75;
}

.content_banner .load_cover {
  position: absolute; /* 设置 img 标签相对于 div 定位 */
  width: 100%; /* 设置 img 标签宽度为 100% */
  height: 100%; /* 设置 img 标签高度为 100% */
  object-fit: cover; /* 使用 object-fit 属性保持图片不变形，并将其充满整个容器 */
  object-position: center center; /* 如果需要可以设置图片在容器中的位置 */
}

.content_banner .view_info {
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 15;
}

.content_banner .view_info .vi_con {
  width: 680px;
  padding: 0 0 10px 150px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.content_banner .view_info .vi_con h1 {
  width: 100%;
  height: 80px;
  font-size: 26px;
  overflow: hidden;
  line-height: 80px;
  white-space: nowrap;
  overflow-wrap: normal;
  
}

.creative-time {
  box-sizing: border-box;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
}
.creative-time .avatar strong a{
  color: #ff7200;
  font-size: 14px;
  font-weight: normal;
}

.creative-time .avatar strong a:hover {
  outline: 0;
  text-decoration: underline;
}

.creative-time .avatar {
  box-sizing: border-box;
  padding: 20px 0 0 150px;
}

.creative-time .avatar .vc_time {
  color: #acacac;
  display: inline;
  margin-left: 10px;
}

.creative-time .avatar .vc_time  span {
  font-size: 12px;
  font-family: Verdana,Arial,Helvetica,STHeiti;
}