:root {
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --code-bg-color: #282c34;
  --code-ln-color: #9e9e9e;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-wrapper-width: 3.5rem;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #ccc;
  background: none;
  /* font-family: var(--font-family-code); */
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: #ebebec;
  color: blue;
  font-size: 12px;
  font-weight: bold;
}
:not(pre) > code[class*='language-'] {
  padding: 5px 10px;
  border-radius: 2px;
  white-space: normal;
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #ec5975;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: #3eaf7c;
}

pre,
pre[class*='language-'] {
  line-height: 1.5;
  padding: 1.3rem 1.5rem;
  margin: 0.85rem 0;
  border-radius: 6px;
  overflow: auto;
}
pre code,
pre[class*='language-'] code {
  color: #fff;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  overflow-wrap: unset;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.prose,.layout-full-width .line-number {
  /* font-family: var(--font-family-code); */
}

div[class*='language-'] {
  position: relative;
  background-color: var(--code-bg-color);
  border-radius: 6px;
  margin: 0 0 10px 0;
  font-family: var(--font-family-code);
}

div[class*='language-']::before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: var(--code-ln-color);
}

div[class*='language-'] pre,
div[class*='language-'] pre[class*='language-'] {
  background: transparent !important;
  position: relative;
  z-index: 1;
}

div[class*='language-'] .highlight-lines {
  user-select: none;
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.5;
}

div[class*='language-'] .highlight-lines .highlight-line {
  background-color: var(--code-hl-bg-color);
}

div[class*='language-']:not(.line-numbers-mode) .line-numbers {
  display: none;
}

div[class*='language-'].line-numbers-mode .highlight-lines .highlight-line {
  position: relative;
}

div[class*='language-'].line-numbers-mode .highlight-lines .highlight-line::before {
  content: ' ';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
  width: var(--code-ln-wrapper-width);
  height: 100%;
}

div[class*='language-'].line-numbers-mode pre {
  margin-left: var(--code-ln-wrapper-width);
  padding-left: 1rem;
  vertical-align: middle;
}

div[class*='language-'].line-numbers-mode .line-numbers {
  position: absolute;
  top: 0;
  width: var(--code-ln-wrapper-width);
  text-align: center;
  color: var(--code-ln-color);
  padding-top: 1.25rem;
  line-height: 1.375;
  counter-reset: line-number;
}

div[class*='language-'].line-numbers-mode .line-numbers .line-number {
  position: relative;
  z-index: 3;
  user-select: none;
  height: 1.5em;
}

div[class*='language-'].line-numbers-mode .line-numbers .line-number::before {
  counter-increment: line-number;
  content: counter(line-number);
  font-size: 0.85em;
}

div[class*='language-'].line-numbers-mode::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--code-ln-wrapper-width);
  height: 100%;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid var(--code-hl-bg-color);
}

div[class*='language-'].ext-c:before {
  content: "c";
}

div[class*='language-'].ext-cpp:before {
  content: "cpp";
}

div[class*='language-'].ext-cs:before {
  content: "cs";
}

div[class*='language-'].ext-css:before {
  content: "css";
}

div[class*='language-'].ext-dart:before {
  content: "dart";
}

div[class*='language-'].ext-docker:before {
  content: "docker";
}

div[class*='language-'].ext-fs:before {
  content: "fs";
}

div[class*='language-'].ext-go:before {
  content: "go";
}

div[class*='language-'].ext-html:before {
  content: "html";
}

div[class*='language-'].ext-java:before {
  content: "java";
}

div[class*='language-'].ext-js:before {
  content: "js";
}

div[class*='language-'].ext-json:before {
  content: "json";
}

div[class*='language-'].ext-kt:before {
  content: "kt";
}

div[class*='language-'].ext-less:before {
  content: "less";
}

div[class*='language-'].ext-makefile:before {
  content: "makefile";
}

div[class*='language-'].ext-md:before {
  content: "md";
}

div[class*='language-'].ext-php:before {
  content: "php";
}

div[class*='language-'].ext-py:before {
  content: "py";
}

div[class*='language-'].ext-rb:before {
  content: "rb";
}

div[class*='language-'].ext-rs:before {
  content: "rs";
}

div[class*='language-'].ext-sass:before {
  content: "sass";
}

div[class*='language-'].ext-scss:before {
  content: "scss";
}

div[class*='language-'].ext-sh:before {
  content: "sh";
}

div[class*='language-'].ext-styl:before {
  content: "styl";
}

div[class*='language-'].ext-ts:before {
  content: "ts";
}

div[class*='language-'].ext-toml:before {
  content: "toml";
}

div[class*='language-'].ext-vue:before {
  content: "vue";
}

div[class*='language-'].ext-yml:before {
  content: "yml";
}

@media (max-width: 419px) {
  .prose div[class*='language-'] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}


.prose a {
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}

.prose a:hover {
  border-bottom: 1px solid #555;
}


.prose hr {
  width: 50px;
  margin: 2em auto;
}
a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}

a.item:hover {
  opacity: 1;
}

a.header-anchor {
  position: absolute;
  left: 0;
  top: 0.125em;
  left: -1em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.prose blockquote > :first-child {
  margin-top: 0;
}

.prose blockquote > :last-child {
  margin-bottom: 0;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose blockquote p:first-of-type::after {
  content: none;
}


[class*='language-'] ::-webkit-scrollbar {
  width: 0px;
}
[class*='language-'] ::-webkit-scrollbar:horizontal {
  height: 6px;
}

[class*='language-'] ::-webkit-scrollbar-track,
[class*='language-'] ::-webkit-scrollbar-corner {
  background: black;
  /* background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%); */
}

[class*='language-'] ::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(45deg, #30cfd0 0%, #330867 100%); */
  /* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); */
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  /* background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%); */
  background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
